@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Merriweather:wght@900&display=swap');

body{
    margin: 10px;
    background: #070212;
    /* background-image: url(grid_back.png); */
}
.section{
}
.content{
    color: #fff;
    margin-top: 7vw;
    margin-bottom: 5vw;
    font-family: Jura;
}
.l1{
    margin: 10px;
    font-size: large;
}
.l2{
    font-size: large;
    margin: 10px;
}
.l3{
    font-size: medium;
}
.btn1{
    margin: 0 20px;
    font-size: large;
    font-family: 'Merriweather', serif;
    background-color: transparent;
    color: aliceblue;
    border: 2px solid white;
}